asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
numpy
packaging
psycopg2-binary
python-dotenv
sqlparse
tzdata
whitenoise
Pillow
scikit-learn
pandas
joblib
transformers
torch
sentencepiece
django-extensions
